@font-face {
  font-family: 'Noto Sans KR';
  font-display: swap;
  font-weight: 400;
  src: url('./NotoSansKR-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-display: swap;
  font-weight: 500;
  src: url('./NotoSansKR-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-display: swap;
  font-weight: 700;
  src: url('./NotoSansKR-Bold.woff2') format('woff2');
}
